<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tap Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tap counter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>{{counter}}</h1>
    <p>{{message}}</p>
    <ion-button expand="block" (click)="incrementPressed()">Increment</ion-button>
    <ion-button expand="block" color="secondary" (click)="decrementPressed()" [disabled]="counter == 0">
      Decrement
    </ion-button> 
    <ion-button expand="block" color="danger" (click)="resetPressed()">Reset</ion-button>
  </div>
</ion-content>
